<!DOCTYPE html>
<html>
<head>
  <title>Hintergrundgeschichten-Generator</title>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.js" data-semver="1.0.17" data-require="vue.js@*"></script>
  <link rel="stylesheet" href="style.css" />
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
</head>

<body id="app">
  <h1>Hintergrundgeschichten-Generator</h1>
  <p>
    Hier findest du einen Lückentext. Diesen kannst du als Struktur für einen
    Charakterhintergrund benutzen. Ergänze die Lücken mit passenden Inhalten.
  </p>

  <p>
    Wenn dir nichts einfällt, kannst du dir mit dem Knopf dahinter einen Vorschlag
    machen lassen. Aufpassen, dass alles zusammen passt, musst du allerdings selbst.
  </p>

  <p>
    Du kannst in die "Druckansicht" wechseln, dort kannst du den gesamten Text
    ohne Buttons sehen und drucken oder markieren und dir rauskopieren.
  </p>


  <section class="letter edit" v-if="editMode">
    <h2>Zum Gruße,</h2>
    <p>
      mein Name ist
      <input type="text" placeholder="(Name)" v-model="currentName">
      <button v-on:click="randomName('f')">Vorschlag weiblich</button>
      <button v-on:click="randomName('m')">Vorschlag männlich</button>.
    </p>
    <p>ich bin ein
      <input type="text" placeholder="(Rasse)" v-model="currentRace">
      <button v-on:click="randomRace">Vorschlag</button> und
      <input type="number" v-model="currentAge">Jahre alt
      <button v-on:click="randomAge()">Vorschlag</button>.
    </p>
    <p>
      Du erkennst mich an
      <input type="text" placeholder="(Merkmal)" v-model="currentSign">
      <button v-on:click="randomSign()">Vorschlag</button>
    </p>
    <p>
      Ich komme aus
      <input type="text" placeholder="(Stadt)"> in
      <input type="text" placeholder="(Land)">. <br>
      Meine Heimat ist bekannt für
      <input type="text" placeholder="(Besonderheit)" v-model="currentFame">.
      <button v-on:click="randomFame()">Vorschlag</button>
    </p>
    <p>
      Besonders gut kann ich
      <ul v-for="skill in skillList">
        <li>{{ skill }}<button v-on:click="popSkill(skill)">x</button></li>
      </ul>

      <input type="text" placeholder="(Fertigkeiten)" v-model="currentSkill">
      <button v-on:click="addSkill">+</button>.
      <button v-on:click="randomSkill">Vorschlag</button>.
    </p>
    <p>
      Meine Schwächen sind meine
      <ul v-for="dis in disadvantageList">
        <li>{{ dis }} <button v-on:click="popDisadvantage(dis)">x</button></li>
      </ul>
      <input type="text" placeholder="(Nachteile)" v-model="currentDisadvantage">
       <button v-on:click="addDisadvantage">+</button>.
      <button v-on:click="randomDisadvantage">Vorschlag</button>
    </p>
    <p>
      Ich erzähle nicht jedem, dass
      <textarea placeholder="(Geheimnis)" v-model="currentSecret"></textarea>
      <button v-on:click="randomSecret">Vorschlag</button>
    </p>
    <p>
      Das solltest du noch über mich wissen
      <textarea placeholder="(Alles was dir sonst noch einfällt)" v-model="currentOther"></textarea>
    </p>

    <button v-on:click="randomAll('f')">Alles neu vorschlagen (weiblich)</button>
    <button v-on:click="randomAll('m')">Alles neu vorschlagen (männlich)</button>

    <button v-on:click="switchToPrintView">Druckansicht</button>
  </section>

  <section class="print edit letter" v-if="printMode">
    <h2>Zum Gruße,</h2>
    <p>
      mein Name ist {{currentName}}, ich bin ein
      {{currentRace}} und {{currentAge}} Jahre alt.
    </p>
    <p v-if="currentSign">
      Du erkennst mich an {{currentSign}}.
    </p>
    <p>
      Ich komme aus {{currentCity}} in {{currentLand}}. <br>
      Meine Heimat ist bekannt für {{currentFame}}.
    </p>
    <p>
      Besonders gut kann ich
      <ul v-for="skill in skillList">
        <li>{{ skill }}</li>
      </ul>
    </p>
    <p>
      Meine Schwächen sind meine
      <ul v-for="dis in disadvantageList">
        <li>{{ dis }} </li>
      </ul>
    </p>
    <p v-if="currentSecret">
      Ich erzähle nicht jedem, dass {{currentSecret}}
    </p>
    <p v-if="currentOther">
      Das solltest du noch über mich wissen {{currentOther}}
    </p>
    <button v-on:click="switchToEditView">Bearbeitungsansicht</button>
  </section>
  <script src="script.js"></script>
</body>

</html>
